<%-include("../admin/leyouts/header.ejs")%>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Coupon Management</h4>
                    <p class="card-description"> Manage your coupon </p>
                    <p><a href="/admin/loadAddCoupon" class="badge badge-success"> + Add Coupon </a></p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Coupon Code</th>
                            <th>Discount</th>
                            <th>Criteria Amount</th>
                            <th>Activation Date</th>
                            <th>Expiration Date</th>
                            <th>Used</th>
                            <th>Update</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if(coupon.length>0){
                                for(let i=0;i<coupon.length;i++){  %>
                              <tr>
                                <td><%= i+1 %></td>
                                
                                <td><%= coupon[i].name %></td>
                                <td><%= coupon[i].couponCode %></td>
                                <td><%= coupon[i].discountAmount %></td>
                                <td><%= coupon[i].criteriaAmount %></td>
                                <td><%= coupon[i].activationDate.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %></td>
                                <td><%= coupon[i].expiryDate.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %></td>
                                <td><%= coupon[i].usedUsers.length %>/<%= coupon[i].usersLimit %></td>
                                <td><a href="/admin/editCoupon?_id=<%= coupon[i]._id %>" class="badge badge-warning">Update</a></td>

                                <%  if(!coupon[i].is_blocked){ %>
                                
                                <td onclick="couponBlock('<%= coupon[i]._id %>')"><a class="badge badge-danger" >Block</a></td>
                               <% }else{ %>
                                <td onclick="couponBlock('<%= coupon[i]._id %>')" ><a class="badge badge-success" >Unblock</a></td>
                              <% } %>
                              </tr>
                              <% } %>
                              <% }else{ %>
                                <tr>
                                    <td colspan="5">Coupons Not Found</td>
                                  </tr>
                             <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
        <script>
          function couponBlock(copId) {
            
            swal
              .fire({
                title: "Are You Sure?",
                text:"Are you sure",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes",
                cancelButtonText: "cancel",
              })
              .then((result) => {
                if (result.isConfirmed) {
                  $.ajax({
                    url: "/admin/blockCoupon",
                    data: {
                      copId: copId,
                    },
                    method: "post",
                    success: (response) => {
                      if ((response.remove = true)) {
                        location.reload();
                        swal.fire({
                          title: "Done",
                          text: "suSuscces",
                          icon: "Suscces",
                          timer: 1500,
                          showConfirmButton: false,
                        });
                      }
                    },
                  });
                }
              });
          }
        </script>
     
        <%-include("../admin/leyouts/footer.ejs")%>