

<div class="main-panel">
    <div class="content-wrapper">
  <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Product</h4>
          <p class="card-description"> Details</p>
          <form class="forms-sample" action="/admin/editProduct?id=<%= product._id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputName1">Product Name</label>
              <input type="text" class="form-control" id="exampleInputName1" name="name" value="<%=product.name%>">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Product Price</label>
              <input type="number" class="form-control" id="exampleInputEmail3" name="price" value="<%=product.price%>" >
            </div>
            <div class="form-group">
              <label for="Catagory">Category</label>
  
              <select class="form-select form-control" aria-label="Default select example" name="category">
                
                
                <% if(catData.length > 0){
  
                  for( let i=0;i<catData.length;i++){   %>
  
                    <option value="<%= product.category %>"><%= catData[i].name %></option>
  
                 <% }
                }else{ %>
  
                  <option value="">No Categories</option>
  
              <%  } %>
  
              
                
               </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword4">Quantity</label>
              <input type="text" class="form-control" id="exampleInputPassword4" value="<%= product.quantity %>" name="quantity" >
            </div>          
            <div class="form-group">
              <label for="exampleTextarea1">Description</label>
              <textarea class="form-control" id="exampleTextarea1" name="description" rows="4"><%= product.description %></textarea>
            </div>
  
  
  
            <div>
  
            <div class="col-lg-3 col-md-6">
              <div class="rounded-image-preview">
                <label for="imageInput1" class="image-label">Image 1
                  <div class="rounded-image-preview">
                    <img id="imagePreview1" src="/products/images/<%= product.images.image1 %>" alt="Preview" />
                  </div>
                  <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput"
                    onchange="updateImagePreview(this, 'imagePreview1', '/products/images/<%= product.images.image1 %>', 'removeButton1')">
                </label>
              </div>
              <button type="button" style="display: none;" class="remove-button" id="removeButton1"
                onclick="removeImagePreview('imagePreview1', '/products/images/<%= product.images.image1 %>', 'removeButton1','imageInput1')">Remove</button>
            </div>
  
            <!-- Image Upload 2 -->
            <div class="col-lg-3 col-md-6">
              <div class="rounded-image-preview">
                <label for="imageInput2" class="image-label">Image 2
                  <div class="rounded-image-preview">
                    <img id="imagePreview2" src="/products/images/<%= product.images.image2 %>" alt="Preview" />
                  </div>
                  <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput"
                    onchange="updateImagePreview(this, 'imagePreview2', '/products/images/<%= product.images.image2 %>', 'removeButton2')">
                </label>
              </div>
              <button type="button" style="display: none;" class="remove-button" id="removeButton2"
                onclick="removeImagePreview('imagePreview2', '/products/images/<%= product.images.image2 %>', 'removeButton2','imageInput2')">Remove</button>
            </div>
            <!-- Repeat similar code for Image Upload 3 and 4 with unique IDs -->
            <div class="col-lg-3 col-md-6">
              <div class="rounded-image-preview">
                <label for="imageInput3" class="image-label">Image 3
                  <div class="rounded-image-preview">
                    <img id="imagePreview3" src="/products/images/<%= product.images.image3 %>" alt="Preview" />
                  </div>
                  <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput"
                    onchange="updateImagePreview(this, 'imagePreview3', '/products/images/<%= product.images.image3 %>', 'removeButton3')">
                </label>
              </div>
              <button type="button" style="display: none;" class="remove-button" id="removeButton3"
                onclick="removeImagePreview('imagePreview3', '/products/images/<%= product.images.image3 %>', 'removeButton3','imageInput3')">Remove</button>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="rounded-image-preview">
                <label for="imageInput4" class="image-label">Image 4
                  <div class="rounded-image-preview">
                    <img id="imagePreview4" src="/products/images/<%= product.images.image4 %>" alt="Preview" />
                  </div>
                  <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput"
                    onchange="updateImagePreview(this, 'imagePreview4', '/products/images/<%= product.images.image4 %>', 'removeButton4')">
                </label>
              </div>
              <button type="button" style="display: none;" class="remove-button" id="removeButton4"
                onclick="removeImagePreview('imagePreview4', '/products/images/<%= product.images.image4 %>', 'removeButton4','imageInput4')">Remove</button>
            </div>
  
          </div>
  
            <!-- <div>
            <div class="col-lg-3 col-md-6 rounded-image-preview ">
              <label for="imageInput1" class="image-label ">Image 1
                <div class="rounded-image-preview">
                  <img id="imagePreview1"
                  src="/products/images/<%= product.images.image1 %>"
                    alt="Preview" />
                </div>
                <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput" >
              </label>
            </div>
            <div class="col-lg-3 col-md-6 rounded-image-preview ">
              <label for="imageInput2" class="image-label ">Image 2
                <div class="rounded-image-preview">
                  <img id="imagePreview2"
                  src="/products/images/<%= product.images.image2 %>"
                    alt="Preview" />
                </div>
                <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput" >
              </label>
            </div>
            <div class="col-lg-3 col-md-6 rounded-image-preview ">
              <label for="imageInput3" class="image-label ">Image 3
                <div class="rounded-image-preview">
                  <img id="imagePreview3"
                  src="/products/images/<%= product.images.image3 %>"
                    alt="Preview" />
                </div>
                <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput" >
              </label>
            </div>
            <div class="col-lg-3 col-md-6 rounded-image-preview ">
              <label for="imageInput4" class="image-label ">Image 4
                <div class="rounded-image-preview">
                  <img id="imagePreview4"
                  src="/products/images/<%= product.images.image4 %>"
                    alt="Preview" />
                </div>
                <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput" >
              </label>
            </div>
            
          </div> -->
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-inverse-danger"><a href="/admin/product">Cancel</a></button>
          </form>
        </div>
      </div>
    </div>
  </div>