<%-include("../admin/leyouts/header.ejs")%>


<div class="main-panel">
    <div class="content-wrapper">
  <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Category</h4>
          
          <form action="/admin/editCategory?id=<%= category._id %>" method="post" class="forms-sample">
            <div class="form-group">
              <label for="exampleInputName1">Updated Category Name</label>
              <input name="categoryName" type="text" class="form-control" id="exampleInputName1" value="<%= category.name %>" required>
            </div>
            
            <button type="submit" class="btn btn-primary mr-2">Update Category</button>
            <% if(typeof message !== 'undefined'){ %>
              <span
                id="er2"
                style="color: rgb(241, 7, 7); text-align: center"
                ><%= message %></span
              >
              <% } %>
            
          </form>
        </div>
      </div>
    </div>
  
    </div>
    <script>
       const inputs = document.querySelector("input")
      const error_message = document.querySelector("#er2")

      inputs.addEventListener("input", (e) => {
        error_message.style.display = "none"
      })
    </script>

    <%-include("../admin/leyouts/footer.ejs")%>