<%-include("../admin/leyouts/header.ejs")%>
    <style>
        /* Style for the image input */
        #imageInput {
            display: none;
            /* Hide the default file input */
        }

        #imageLabel {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
        }

        #imageLabel:hover {
            background-color: #2980b9;
        }
    </style>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <br>
                            <br>
                            <h1 class="card-title">Add Banner</h1>
                            <p class="card-description"> Add Banner Form</p>
                            <form id="form" class="forms-sample" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Banner Title</label>
                                    <input type="text" class="form-control" id="title" name="title" value="<%=banner.title %>" placeholder="Title"
                                        style="color: white;" required>
                                    <p style="color: red;" id="titleLengthError"></p>
                                </div>
                                <div class="form-group">
                                    <label>Banner Description</label>
                                    <textarea class="form-control" id="description" name="description" rows="4"
                                        style="color: white;"><%=banner.description%></textarea>
                                    <p style="color: red;" id="descriptionLengthError"></p>

                                </div>
                                <div class="form-group">
                                    <label id="imageLabel" for="imageInput">Choose Image</label>
                                    <input onchange="previewImage(this)" type="file" class="form-control-file" id="imageInput" name="image"
                                        accept="image/*" required>
                                    <p style="color: red;" id="imageInputLengthError"></p>
                                    <img id="imagePreview" src="<%=banner.image ? '/banner/' + banner.image : '' %>" alt="Image Preview" style="max-width: 100%; margin-top: 10px;">

                                </div>
                                <br>
                                <button id="addBanner" type="submit" class="btn btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function previewImage(input) {
            const preview = document.getElementById('imagePreview');
            const file = input.files[0];
    
            if (file) {
                const reader = new FileReader();
    
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
    
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
            }
        }
    </script>
    <script>

        document.getElementById("addBanner").addEventListener("click", function (e) {
            e.preventDefault();
            const title = document.getElementById("title").value
            const description = document.getElementById("description").value
            const imageInput = document.getElementById("imageInput");
            const image = imageInput.files.length > 0 ? imageInput.files[0] : null;
            
            const titleLengthError = document.getElementById('titleLengthError')
            const descriptionLengthError = document.getElementById('descriptionLengthError')
            const imageInputLengthError = document.getElementById('imageInputLengthError')


            if (title === "") {
                titleLengthError.textContent = "Banner title is required.";
            } else if (title.length < 4) {
                titleLengthError.textContent = "Banner title must be at least 4 characters.";
            } else if (description === "") {
                descriptionLengthError.textContent = "Banner description  is required.";
            } else if (description.length < 8) {
                descriptionLengthError.textContent = "Banner description must be at least 8 characters.";
            } else if (imageInput === "") {
                imageInputLengthError.textContent = "Banner image is required.";
            } else {
                const formData = new FormData();
                formData.append("bannerId", '<%= banner._id %>');
                formData.append("title", title);
                formData.append("description", description);
                formData.append("image", image);
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to edit this Banner ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add",
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/editBanner",
                            data: formData,
                            method: "post",
                            contentType: false,
                            processData: false,
                            success: (response) => {
                                if ((response.exist)) {
                                    imageInputLengthError.textContent = "Banner already exist."
                                }else if(response.imageIssue){
                                    imageInputLengthError.textContent = "Sorry, your image has some issue. Please try again."
                                } else if (response.success) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 3000,
                                    })

                                    Toast.fire({
                                        icon: 'success',
                                        title: 'Banner Added.'
                                    })
                                    setTimeout(() => {
                                        window.location.href = "/admin/bannerManagement"
                                    }, 3000);
                                }
                            },
                        });
                    }
                });
            }

        })



    </script>
    <script>
        const titleLengthError = document.getElementById('titleLengthError')
        const coudescriptionLengthErrorponLengthError = document.getElementById('descriptionLengthError')
        const imageInputLengthError = document.getElementById('imageInputLengthError')


        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
            input.addEventListener('input', () => {
                titleLengthError.textContent = ""
                descriptionLengthError.textContent = ""
                imageInputLengthError.textContent = ""


            })
        })
    </script>

    <%-include("../admin/leyouts/footer.ejs")%>