<%-include("../admin/leyouts/header.ejs")%>
<style>
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: block;
    }
</style>  
<div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                           
                            <h1 class="card-title"><span class="menu-icon">
                                <i style="color: rgb(199, 11, 11);" class="mdi mdi-tag-multiple"></i>
                              </span>Edit Product Offer</h1>
                            <p class="card-description">Edit Product Offer Form</p>
                            <form id="form" class="forms-sample">
                                <div id="offerFormContainer">
                                    <div class="form-group">
                                        <label for="discount">Discount (%)</label>
                                        <input type="number" class="form-control" id="discount" value="<%=productData.offer.discount%>" name="discount" placeholder="Discount">
                                        <span id="errordiscount" class="error-message"></span>
                                    </div>
    
                                    <div class="form-group">
                                        <label for="activationDate">Activation Date</label>
                                        <% if(productData.offer.discount!=0){%>
                                            
                                            <input type="date" class="form-control" id="activationDate" value="<%=productData.offer.activationDate.toISOString().split('T')[0] %>" name="activationDate">
                                            <%}else{%>
                                                <input type="date" class="form-control" id="activationDate"  name="activationDate">

                                                <%} %>
                                        <span id="erroractivationDate" class="error-message"></span>
                                    </div>
    
                                    <div class="form-group">
                                        <label for="expiryDate">Expiry Date</label>
                                        <% if(productData.offer.discount!=0){%>
                                            <input type="date" class="form-control" id="expiryDate" value="<%=productData.offer.expiryDate.toISOString().split('T')[0]%>" name="expiryDate">
                                            <%}else{%>
                                                <input type="date" class="form-control" id="expiryDate"  name="expiryDate">
                                                
                                                <%} %>
                                        <span id="errorexpiryDate" class="error-message"></span>
                                    </div>
                                    <input type="hidden" value="<%= productData._id %>" id="proId">
                                </div>
                                <br/>
                                <button id="addProductOffer" type="submit" class="btn btn-primary mr-2">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("addProductOffer").addEventListener("click", function (e) {
            e.preventDefault();
            const discount = document.getElementById("discount").value;
            const activationDate = document.getElementById("activationDate").value;
            const expiryDate = document.getElementById("expiryDate").value;
            const proId = document.getElementById("proId").value;

            const errordiscount = document.getElementById("errordiscount");
            const erroractivationDate = document.getElementById("erroractivationDate");
            const errorexpiryDate = document.getElementById("errorexpiryDate");

            if (discount === "") {
                errordiscount.textContent = "Discount is required.";
            }else if (discount < 0) {
                errordiscount.textContent = "Discount must be positive.";
            } else if (activationDate === "") {
                erroractivationDate.textContent = "Activation date is required.";
            } else if (expiryDate === "") {
                errorexpiryDate.textContent = "Expiry date is required.";
            } else if (expiryDate < activationDate) {
                errorexpiryDate.textContent =
                    "Expiry date must be greater than activation date.";
            } else {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to add this Offer ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add",
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/editProductOffer",
                            data: {
                                discount,
                                activationDate,
                                expiryDate,
                                proId
                            },
                            method: "post",
                            success: (response) => {
                                if (response.success) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: "top-end",
                                        showConfirmButton: false,
                                        timer: 3000,
                                    });

                                    Toast.fire({
                                        icon: "success",
                                        title: "Offer Added.",
                                    });
                                    setTimeout(() => {
                                        window.location.href = "/admin/productmanagement";
                                    }, 3000);
                                }
                            },
                        });
                    }
                });
            }
        });
    </script>
    <script>
            const errordiscount = document.getElementById("errordiscount");
            const erroractivationDate = document.getElementById("erroractivationDate");
            const errorexpiryDate = document.getElementById("errorexpiryDate");

        const inputs = document.querySelectorAll("input");
        inputs.forEach((input) => {
            input.addEventListener("input", () => {
                errordiscount.textContent = "";
                erroractivationDate.textContent = "";
                errorexpiryDate.textContent = "";
              
            });
        });
    </script>

    <%-include("../admin/leyouts/footer.ejs")%>