<%-include("../admin/leyouts/header.ejs")%>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                           
                            <h1 class="card-title">Add Referal</h1>
                            <p class="card-description">Add Referal Offer Form</p>
                            <form id="form" class="forms-sample">
                               
                                <div class="form-group">
                                    <label>Referal Code</label>
                                    <input type="text" class="form-control" id="referal" value="<%= referalData.referalCode %>" name="referal" placeholder="code"
                                        style="color: white" required />
                                    <p style="color: red" id="couponLengthError"></p>
                                </div>
                                <div class="form-group">
                                    <label>Cashback</label>
                                    <input type="number" class="form-control" value="<%= referalData.amount %>"  id="discount" name="discount"
                                        placeholder="discount amount" style="color: white" required />
                                    <p style="color: red" id="discountError"></p>
                                </div>
                                <input type="hidden" id="referalId" value="<%= referalData._id %>">
                                
                                
                                <br />
                                <button id="addReferalOffer" type="submit" class="btn btn-primary mr-2">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("addReferalOffer").addEventListener("click", function (e) {
            e.preventDefault();
            const referal = document.getElementById("referal").value;
            const discount = document.getElementById("discount").value;
            const id = document.getElementById("referalId").value;

            const couponLengthError = document.getElementById("couponLengthError");
            const discountError = document.getElementById("discountError");

            if (referal === "") {
                couponLengthError.textContent = "Referal code is required.";
            } else if (discount === "") {
                discountError.textContent = "Cashback amount is required.";
            } else if (discount < 0) {
                discountError.textContent = "Cashback amount must be positive.";
            } else {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to add this Referal ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Add",
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/admin/editReferalOffer",
                            data: {
                                id,
                                discount,
                                referal
                            },
                            method: "post",
                            success: (response) => {
                                if (response.exist) {
                                    couponLengthError.textContent = "Referal code already exist.";
                                } else if (response.success) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: "top-end",
                                        showConfirmButton: false,
                                        timer: 3000,
                                    });

                                    Toast.fire({
                                        icon: "success",
                                        title: "Offer Added.",
                                    });
                                    setTimeout(() => {
                                        window.location.href = "/admin/loadReferalManagement";
                                    }, 3000);
                                }
                            },
                        });
                    }
                });
            }
        });
    </script>
    <script>
        const couponLengthError = document.getElementById("couponLengthError");
        const discountError = document.getElementById("discountError");

        const inputs = document.querySelectorAll("input");
        inputs.forEach((input) => {
            input.addEventListener("input", () => {
                couponLengthError.textContent = "";
                discountError.textContent = "";
               
            });
        });
    </script>

    <%-include("../admin/leyouts/footer.ejs")%>