<%-include("../admin/leyouts/header.ejs")%>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Order Management</h4>
                            <p class="card-description"> All order details 
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> No. </th>
                                            <th> Order ID </th>
                                            <th> Date</th>
                                            <th> Total Amount </th>
                                            <th> Payment Method </th>
                                            <!-- <th> Status </th> -->
                                            <th> View More </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(orderData != undefined){ %>
                                          <%  for(let i=0 ; i<orderData.length ; i++){%>
                                             <% var productstatus = orderData[i].products  %>

                                        <tr>
                                            <td> <%= i + 1 %></td>
                                            <td># <%= orderData[i].uniqueId %></td>
                                            <td> <%= orderData[i].date.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %> </td>
                                            <td> ₹<%= orderData[i].totalAmount %> </td>
                                            <td> <%= orderData[i].paymentMethod %> </td>
                                            
                                                <!-- <td>
                                                    <%  for(let j=0 ; j < productstatus.length ; j++){%>
                                                    <%=productstatus[j].status%>
                                                </td>
                                            <%}%> -->
                                    
                                            <!-- <td> ........ </td> -->
                                            <td> <a href="/admin/orderdetailspage?id=<%=orderData[i].uniqueId%>">Details</a></td>
                                        </tr>
                                        <%}%>
                                        <% }else{ %>
                                            <tr>
                                                <td colspan="6">No orders available.</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%-include("../admin/leyouts/footer.ejs")%>