<%-include("../user/leyouts/home-header.ejs")%>


    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/productdetails">Product</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Centered</li> -->
                </ol>

                <nav class="product-pager ml-auto" aria-label="Product">
                    <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                        <i class="icon-angle-left"></i>
                        <span>Prev</span>
                    </a>

                    <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                        <span>Next</span>
                        <i class="icon-angle-right"></i>
                    </a>
                </nav><!-- End .pager-nav -->
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="product-details-top mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <figure class="product-main-image">
                                      <img
                                        id="product-zoom"
                                        src="products/crops/<%= view.images.image1 %>"
                                        data-zoom-image="products/crops/<%= view.images.image1 %>"
                                        alt="product image"
                                      />
                                    </figure>
                                    <!-- End .product-main-image -->
              
                                    <div
                                      id="product-zoom-gallery"
                                      class="product-image-gallery"
                                    >
                                      <a
                                        class="product-gallery-item active"
                                        href="#"
                                        data-image="products/crops/<%= view.images.image1 %>"
                                        data-zoom-image="products/crops/<%= view.images.image1 %>"
                                      >
                                        <img
                                          src="products/crops/<%= view.images.image1 %>"
                                          alt="product image"
                                        />
                                      </a>
              
                                      <a
                                        class="product-gallery-item"
                                        href="#"
                                        data-image="products/crops/<%= view.images.image2 %>"
                                        data-zoom-image="products/crops/<%= view.images.image2 %>"
                                      >
                                        <img
                                          src="products/crops/<%= view.images.image2 %>"
                                          alt="product cross"
                                        />
                                      </a>
              
                                      <a
                                        class="product-gallery-item"
                                        href="#"
                                        data-image="products/crops/<%= view.images.image3 %>"
                                        data-zoom-image="/products/crops/<%= view.images.image3 %>"
                                      >
                                        <img
                                          src="products/crops/<%= view.images.image3 %>"
                                          alt="product with model"
                                        />
                                      </a>
              
                                      <a
                                        class="product-gallery-item"
                                        href="#"
                                        data-image="products/crops/<%= view.images.image4 %>"
                                        data-zoom-image="/products/crops/<%= view.images.image4 %>"
                                      >
                                        <img
                                          src="products/crops/<%= view.images.image4 %>"
                                          alt="product back"
                                        />
                                      </a>
                                    </div>
                                    <!-- End .product-image-gallery -->
                                  </div>
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details product-details-centered">
                                <h1 class="product-title">
                                    <%= view.name %>
                                </h1><!-- End .product-title -->

                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews)</a>
                                </div><!-- End .rating-container -->

                                <div class="product-price">
                                    <span class="new-price">₹ <%= view.price %></span>
                                    <% if (price!==0) { %>
                                        <span class="old-price">₹ <%= originalprice %></span>
                                    <% } %>
                                </div><!-- End .product-price -->


                                <div class="product-content">
                                    <p>
                                        <%= view.description %>
                                    </p>

                                </div><!-- End .product-content -->

                                

                                <div class="product-details-action">
                                    <div class="details-action-col">
                                        <!-- <div class="product-details-quantity"> -->
                                        <!-- <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required> -->
                                        <!-- </div>End .product-details-quantity -->

                                        <a href="" onclick="addToCart('<%= view._id%>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .details-action-col -->

                                    <div class="details-action-wrapper">
                                        <a href="#" onclick="addToWishList('<%= view._id%>')" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                                Wishlist</span></a>
                                        <!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to
                                                Compare</span></a> -->
                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .product-details-action -->

                                <div class="product-details-footer">
                                    <div class="product-cat">
                                        <span>Category: <%= view.category %></span>
                                        <!-- <a href="#">Women</a>, -->
                                        <!-- <a href="#">Dresses</a>, -->
                                        <!-- <a href="#">Yellow</a> -->
                                    </div><!--End .product-cat-->

                                    <div class="social-icons social-icons-sm">
                                        <span class="social-label">Share:</span>
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                                class="icon-pinterest"></i></a>
                                    </div>
                                </div><!--End .product-details-footer-->
                            </div><!-- End .product-details -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->

               

                <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <% console.log(products) %>
                        <% products.forEach((data)=>{ %>
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="/productdetails?id=<%=data._id%>">
                                    <img src="/products/crops/<%= data.images.image2%>" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" onclick="addToWishList('<%= data._id%>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="/productdetails?id=<%=data._id%>" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick
                                            view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare"
                                        title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a  onclick="addToCart('<%= data._id%>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href=""><%= data.category %></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html"></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs. <%= data.price %>
                                    <% if(data.quantity == 0){ %>
                                     &nbsp&nbsp<p style="color: red;">(Out of stock !)</p>
                                    <% }else if(data.quantity < 10){ %>
                                         &nbsp&nbsp<p style="color: red;">(Only&nbsp <%= data.quantity %> &nbsp left !)</p>
                                    <% } %>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 21 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <!-- <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #806b3e;"><span class="sr-only">Color name</span></a> -->
                                <!-- </div>End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        <%})%>

                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
   

    <%-include("../user/leyouts/footer.ejs")%>