<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Furni Hub</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Furni Hub">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/images/icons/apple-touch-icon.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png"> -->
    <link rel="manifest" href="/user/images/icons/site.html">
    <link rel="mask-icon" href="/user/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/images/logo/Furni Hub-logos.jpeg">
    <meta name="apple-mobile-web-app-title" content="Furni Hub">
    <meta name="application-name" content="Furni Hub">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="user/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">


            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="/user/images/logo/Furni Hub-logos_black.png" alt="Furni Hub" width="125"
                                height="40">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/home" class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/loadproduct" class="sf-with-ul">Shop</a>
                                </li>
                                <!-- <li>
                                    <a href="product.html" class="sf-with-ul">Product</a>
                                </li> -->
                                <!-- <li>
                                    <a href="#" class="sf-with-ul">Pages</a>
                                </li> -->
                                <li>
                                    <a href="blog.html" class="sf-with-ul">Blog</a>
                                </li>
                                <!-- <li>
                                    <a href="elements-list.html" class="sf-with-ul">Elements</a>
                                </li> -->
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <!-- <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="/searchPro" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div>End .header-search-wrapper -->
                        <!-- </form>
                        </div>End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="/cartLoad" class="dropdown-toggle" role="button" aria-haspopup="true">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">
                                    <%= cartCount %>
                                </span>
                            </a>

                            <!-- <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div>End .product-cart-details -->

                            <!-- <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/user/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div>End .product -->

                            <!-- <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div>End .product-cart-details -->

                            <!-- <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/user/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div>End .product -->
                            <!-- </div>End .cart-product -->
                            <!-- 
                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div>End .dropdown-cart-total -->

                            <!-- <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div>End .dropdown-cart-total -->
                            <!-- </div>End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/user/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">
                        <%=userData.name%><span>Account</span>
                    </h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="/account #tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" data-toggle="tab"
                                            href="/profileOrdersLoad #tab-orders" role="tab" aria-controls="tab-orders"
                                            aria-selected="false">Orders</a>
                                    </li>
                                    <!-- <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="/profileAddressLoad"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="/profilePasswordLoad"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">


                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        <h2 class="title mb-1">Order History &nbsp;&nbsp;<i
                                                class="fa-duotone fa-shopping-bag"></i></h2>

                                        <div class="table-responsive">


                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Order ID.</th>
                                                        <th>Date</th>
                                                        <th>Payment</th>
                                                        <th>Amount</th>
                                                        <!-- <th>Status</th> -->
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if(orderData !==undefined) { %>
                                                        <% for(let i=0 ; i<orderData.length ; i++){%>
                                                            <% var productstatus=orderData[i].products %>
                                                                <tr>
                                                                    <td>#<%= orderData[i].uniqueId %>
                                                                    </td>
                                                                    <td>
                                                                        <%= orderData[i].date.toLocaleDateString('en-US',
                                                                            { year:'numeric', month: 'short' ,
                                                                            day: '2-digit' }).replace(/\//g, '-' ) %>
                                                                    </td>
                                                                    <td>
                                                                        <%= orderData[i].paymentMethod %>
                                                                    </td>
                                                                    <td>₹<%= orderData[i].totalAmount %>
                                                                    </td>

                                                                    <td><a
                                                                            href="/orderDetails?id=<%= orderData[i].uniqueId %>">View
                                                                            Details</a></td>
                                                                </tr>
                                                                <%}%>
                                                                    <% }else{ %>
                                                                        <!-- If there are no orders -->
                                                                        <tr>
                                                                            <td colspan="6">No orders available.</td>
                                                                        </tr>
                                                                        <% } %>
                                                </tbody>
                                            </table>

                                        </div><!-- End .table-responsive -->
                                    </div><!-- .End .tab-pane -->




                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->






        <script src="/user/userAccountEdits.js"></script>

        <%-include("../user/leyouts/footer.ejs")%>